#langsDiv{
    /*Pale yellow*/
    background-color: #FFFAE6; 

    /*Cream*/
    /* background-color: #FFF6E6;  */

    /*Light gray*/
    /* background-color: #F0F0F0;  */


    /*Dark gray*/
    color: #333333; 

    /*Navy blue*/
    /* color: #1A2B3C;  */

    /*Dark charcoal*/
    /* color: #36454F;  */

    font-size: xx-large;
    padding: 30px;   

}